.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
}

.playlistLabel {
    color: #e92748;
}


.playlistContent {
    color: #e94560;
    display: flex;
    top: 100px;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 20px 0;
}


#searchedList {
    display: flex;
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 10px;
    padding-top: 20px;
    color: #e94560;
}
#searchedList .posterContainer {
    background: #131322;
}

.movieObject {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 0 0 auto;
    height: 350px;
}

.posterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #20305b;
    border-radius: 10px;
}

.listButtons {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    width: 80%;
}
#watchedBtn:hover {
    color: rgb(0, 179, 255);
    cursor: pointer;
}
#favoritesBtn:hover {
    color: rgb(255, 0, 81);
    cursor: pointer;
}

#watchLaterBtn:hover {
    color: rgb(39, 255, 6);
    cursor: pointer;
}
#playlistsBtn:hover {
    color: rgb(179, 0, 255);
    cursor: pointer;
}