* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f252b;
}

.navbar {
    background: #13161a;
    color: #46bcf4;
}

.navbar-brand:hover {
    color: #61cdff;
}

.nav-link, .navbar-brand {
    color:#35a5d8;
}

.nav-link {
    margin-right: 1em;
}

.nav-link:hover {
    color: #61cdff
}

.navbar-collapse {
    justify-content: flex-end;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 10vh;
    background: #2e373f
}


.playlistsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.playlistLabel {
    color: #46bcf4;
}

.playlistContent {
    color: #46bcf4;
    display: flex;
    top: 100px;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}

.movieObject {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 0 0 auto;
}

.movieObject img {
    border-radius: 8px;
    cursor: pointer;
}
.moviePoster:hover {
    border: 3px solid #6ad5fc
}

.movieTitle {
    font-size: 1.5em;
    font-weight: 600;
}

.movieReleaseDate {
    font-size: .8em;
    font-weight: 100;
    font-style: italic;
}

.movieContent {
    height: 300px;
    width: 80%;
    display: none;
    background: #36404a;
    margin: 10px;
    border-radius: 10px;
}


.content-display {
    display: flex;
    height: 300px;
    width: 90%;
}