* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f252b;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.navbar {
    background: #13161a;
    color: #46bcf4;
}

.navbar-toggler {
    color: #46bcf4;

}

.navbar-brand:hover {
    color: #61cdff;
}

.nav-link, .navbar-brand {
    color:#35a5d8;
}

.nav-link {
    margin-right: 1em;
}

.nav-link:hover {
    color: #61cdff
}

.navbar-collapse {
    justify-content: flex-end;
}

.main-body{
    display: flex;
    flex-direction: column;

}

.playlist {
    margin-top: 20px;
    color: #52bad5;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    height: 375px;
}

.movie-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

